			<footer class="contactfooter">
				<div class="padding">
					<div class="margin">

						<div class="logo_container">
							<a href="<?php echo get_site_url(); ?>" class="logo_footer"></a>
						</div>

						<p class="contacts">
							<span>t: 323.522.6014</span>
							<span class="dot">&#9679;</span>
							<span>info[@]clockshop.org</span>
							<span class="dot">&#9679;</span>
							<span>2806 Clearwater St. <span style="white-space: nowrap; display: inline-block;">Los Angeles, CA 90039</span></span>
						</p>

						<p class="copyright">
							<span>©2017 Clockshop. <span style="white-space: nowrap; display: inline-block;">All Rights Reserved.</span></span>
						</p>

					</div>
				</div>
			</footer>

			<div class="responsivecue"></div>

		</div>

	</body>
</html>
