<html lang="en">
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="application-name" content="{{ site.title }}"/> 
		<meta name="msapplication-TileColor" content="#000000"/> 
	    {{function('wp_head')}}

	</head>

	<body>

		<div class="container">

			<nav class="primarynav"> 
				<div class="wpadminbarspacer"></div>

				<div class="mobiletoggle">
					<a class="homelink" href="{{ site.url }}"></a>
					<div class="opennav toggle"></div>	
					<div class="closenav toggle"></div>
				</div>

				<div class="logo_container">
					<a href="{{ site.url }}" class="logo_horizontal"></a>			
				</div>

				<div class="topnav">
					<div>
						<div class="menu-container">
							{% include "menu.twig" with {'menu': menu.get_items} %}
						</div>
						{% include "searchform.twig" %}
					</div>
					<button class="search">
						<div class="closed"></div>
					</button>
				</div>

			</nav>

			<div class="layoutspacer"></div>