footer {
	&.followfooter {
		border-top: none;
		padding: 60px 0 80px;
		.content {
			padding-left: 40px;
			padding-right: 40px;
			text-align: center;
			h2 {
				margin-top: 0;
				margin-bottom: 35px;
				@media screen and (max-width: 999px) {
					margin-bottom: 25px;
				}
				@media screen and (max-width: $medium-end) {
					margin-bottom: 15px;
				}
			}
		}
	}
	&.contactfooter {
	    position: absolute;
	    width: 100%;
		height: 430px;
		box-sizing: border-box;
	    bottom: 0;
	    padding-top: 80px;
		background-color: $black;
		border: none;
		@media screen and (max-width: $small-end) {
		    padding-top: 55px;
		}
		.logo_container {
			.logo_footer {
				background : url("../../dist/images/logo_footer.svg") no-repeat 0 0;
			    width: 100px;
			    height: 100px;
			    display: block;
			    margin: 0 auto;
			}
		}
		.contacts {
		    color: $white;
		    width: 100%;
		    text-align: center;
		    margin-top: 40px;
		    font-size: 15px;
		    line-height: 24px;
			letter-spacing: .04em;
			@media screen and (max-width: 899px) {
				span:not(.dot) {
					display: block;
					margin-bottom: 5px;
				}
			}
			span {
				a {
					text-decoration: none;
					color: $white;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		    .dot {
			    font-size: 12px;
		    }
		}
		.copyright {
		    color: $white;
		    width: 100%;
		    text-align: center;
		    margin-top: 40px;
		    font-size: 15px;
		    letter-spacing: .04em;
		    display: inline-block;
		    margin-top: 10px;
			@media screen and (max-width: 899px) {
			    margin-top: 20px;
			}
		}
		.edit-this {
			position: absolute;
			right: 25px;
			bottom: 15px;
			margin: auto;
			a {
				color: $white;
				font-size: 16px;
			}
		}
	}
}