#tribe-events-pg-template {
	padding: 0;
	max-width: none;
	#tribe-events-content-wrapper {
		.content {
			h1 {
			    margin: 40px 0 30px 0;
				@media screen and (min-width: 1000px) {
				    margin: 50px 0 40px 0;
				}
			}
		}
		#tribe-events-content {
		}
		.no-events {
			padding-left: 25px;
			padding-right: 25px;
			text-align: center;
			.newsform {
				padding-bottom: 60px;
				border-bottom: 4px solid black;
				h1 {
					display: block;
					text-align: center;
					margin-top: 80px;
					margin: 100px 0 40px 0;
					@media screen and (max-width: 999px) {
						margin: 80px 0 30px 0;
					}
				}
			}
		}
	}
}

.events-slider {
	> div {
		padding-bottom: 42px;
		border-bottom: 4px solid black;	
		.slide-cell {
			width: 100%;
			.slide {
				font-size: 0;
				.event-image {
					display: inline-block;
					width: 66.66%;
					@media screen and (max-width: 767px) {
						width: 100%;
					}
				}
				.event-content {
					display: inline-block;
					width: 33.33%;
					font-size: 12px;
					padding-left: 30px;
					padding-top: 25px;
					box-sizing: border-box;
					vertical-align: top;
					@media screen and (max-width: 999px) {
						padding-left: 20px;
						padding-top: 20px;
					}
					@media screen and (max-width: 767px) {
						width: 100%;
						padding-left: 0;
					}
					.left-arrow {
						width: 12px;
						height: auto;
						-moz-transform: scaleX(-1);
						-o-transform: scaleX(-1);
						-webkit-transform: scaleX(-1);
						transform: scaleX(-1);
						filter: FlipH;
						-ms-filter: "FlipH";
						display: inline-block;
						left: 0;
					}
					.right-arrow {
						display: inline-block;
						width: 12px;
						height: auto;
						margin-left: 15px;
						left: 0;
					}
					h2 {
						margin-bottom: 8px!important;
						line-height: 32px!important;
						@media screen and (max-width: 999px) {
							margin-top: 20px;
							font-size: 28px;
							line-height: 30px!important;
						}
						a {
							text-decoration: none!important;
						}
					}
					h3 {
						line-height: 26px!important;
						margin-bottom: 12px;
						@media screen and (max-width: 999px) {
							font-size: 21px;
							line-height: 24px;
							margin-bottom: 8px;
						}
					}
					h5 {
						margin-top: 0px;
						margin-bottom: 10px;
						@media screen and (max-width: 999px) {
							font-size: 18px;
							line-height: 21px;
							margin-bottom: 5px;
						}
					}
					.cost {
						font-family: CircularBookBold;
						letter-spacing: .02em;
						text-transform: uppercase;
					}
					.excerpt {
						font-size: 16px;
						line-height: 24px;
						@media screen and (min-width: 768px) and (max-width: 999px) {
							display: none;
						}
					}
				}
			}
		}
	}
}

.upcoming-events {
	> h4 {
		font-size: 18px;
		font-family: CircularBookBold;
		margin: 0;
	    padding: 15px 0 30px;
		letter-spacing: .1em;
		text-transform: uppercase;
	}	
}

.collapsable-events {
	section {
		@media screen and (min-width: 768px) {
			padding: 8px 50px;
		}
		@media screen and (max-width: 767px) {
			padding: 8px 25px;
		}
		.section-title {
			text-align: center;
		}
		.section-content {
			font-size: 0;
			margin-top: 0;
			> :first-child {
				margin-top: 30px!important;
			}
			.event-month {
				margin-top: 5px;
				border-top: 4px solid black;
				span {
					background-color: black;
					color: white;
					padding: 2px 5px;
					text-transform: uppercase;
					font-size: 18px;
					letter-spacing: .1em;
				}
			}
			.event-info {
				width: 50%;
				display: inline-block;
				margin-bottom: 25px;
				vertical-align: top;
				box-sizing: border-box;
				@media screen and (min-width: 768px) {
					padding-right: 30px;
				}
				@media screen and (max-width: 767px) {
					width: 100%;
				}
				.event-title {
					font-family: CircularBookBold;
					font-size: 22px;
					margin-bottom: 2px;
					a {
						text-decoration: none;
					}
				}
				.event-date {
					font-size: 16px;
				}				
			}
		}
	}
}

.event-single {
	margin-bottom: 80px;
	.event-header {
		margin-top: 25px;
		padding-bottom: 30px;
		border-bottom: 4px solid black;
		.side-section-left {
			padding-right: 10px;
			box-sizing: border-box;
			@media screen and (max-width: 767px) {
				display: none;
			}
			.event-cost {
				font-family: 'CircularBookItalic';
				font-size: 16px;
				color: #b3b3b3;
				margin-top: 5px;
				margin-bottom: 0;
			}
			.button {
				margin-top: 15px;
				display: inline-block;
				background: black;
				color: white;
				font-size: 18px;
				letter-spacing: .08em;
				padding: 13px 12px 12px;
				&:hover {
					background: white;
					color: black;
				}
			}
		}
		.side-section-left.mobile {
			display: none;
			@media screen and (max-width: 767px) {
				display: block;
			}
		}
	}
	.event-info {
		border-bottom: 4px solid black;
		.side-section-left {
			vertical-align: top;
			h4 {
				padding: 15px 0 30px;
				margin-top: 0;
				@media screen and (max-width: 767px) {
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
		.side-section-right {
			margin-top: 25px;
			margin-bottom: 40px;
			font-size: 0;
			@media screen and (max-width: 767px) {
				margin-bottom: 30px;
			}
			> div {
				vertical-align: top;
				display: inline-block;
				padding-right: 10px;
				box-sizing: border-box;
				@media screen and (max-width: 767px) {
					width: 100%!important;
					margin-bottom: 20px;
				}
				&:last-child {
					padding-right: 0;
				}
				p {
					margin: 0;
					line-height: 26px;
				    margin-bottom: 8px;
				    line-height: 20px;
					@media screen and (max-width: 999px) {
						font-size: 16px;
					    margin-bottom: 6px;
					}
					@media screen and (max-width: 767px) {
						font-size: 18px;
					    margin-bottom: 8px;
					}
				}
			}
			.event-info-date {
				width: 28%;
				p {
					font-family: 'CircularBookBold';
				}
			}
			.event-info-location {
				width: 37%;
			}
			.event-info-social {
				width: 35%;
				margin-bottom: 0;
				a {
					font-size: 18px;
					line-height: 26px;
					margin-right: 10px;
					i {
						line-height: 26px;
					}
				}
			}
		}
	}
	.event-content {
		.side-section-left {
			vertical-align: top;
			h4 {
				padding: 15px 0 30px;
				margin-top: 0;
				@media screen and (max-width: 767px) {
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
		.side-section-right {
			margin: 25px 0 0;
			*:last-child {
				margin-bottom: 0;
			}
		}
	}
	.event-footer-cta {
		width: 100%;
		padding: 27px 30px;
		border: 4px solid black;
		margin-top: 60px;
		box-sizing: border-box;
		p {
			font-size: 24px;
			line-height: 32px;
			font-family: CircularBookBold;
			margin-top: 0;
			margin-bottom: 0;
			text-align: center;
			@media screen and (max-width: 767px) {
				font-size: 21px;
				line-height: 28px;
			}
		}
	}
}