footer {
	&.followfooter {
		border-top: none;
		padding: 60px 0 80px;
		.content {
			padding-left: 40px;
			padding-right: 40px;
			text-align: center;
			p {
				margin: 0;
				font-family: CircularBookBold;
				font-size: 32px;
				line-height: 41px;
				margin-bottom: 35px;
				@media screen and (max-width: 767px) {
					margin-bottom: 15px;
				}
			}
			.newsform {
				margin: 0 auto;
				display: block;
				float: none;
				width: 100%;
				padding-top: 0;
				div {
					form {
						.validation_error {
							display: none!important;
						}
						.gform_body  {
							ul {
								li {
									div {
										input {
											border-top: none;
											border-left: none;
											border-right: none;
											border-bottom: 4px solid black;
											width: 100%;
											max-width: 500px;
											text-align: center;
											padding: 10px 10px 6px;
											font-family: CircularBookBold;
											font-size: 18px;
											line-height: 1;
											&::-webkit-input-placeholder {
											  color: #b3b3b3;
											}
											&::-moz-placeholder {
											  color: #b3b3b3;
											}
											&:-ms-input-placeholder {
											  color: #b3b3b3;
											}
											&:-moz-placeholder {
											  color: #b3b3b3;
											}
										}
									}
								}
							}
							.validation_message {
								display: none;
							}
						}
						.gform_footer {
							input {
								font-family: CircularBookBold;
								font-size: 18px;
								letter-spacing: .08em;
								padding: 12px 25px;
								margin-top: 35px;
								border: 4px solid black;
								width: auto;
								line-height: 1;
								border-radius: 0;
							}
							.gform_ajax_spinner {
								display: none;
							}
						}
					}
				}
				.gform_validation_error {
					form {
						.gform_body  {
							ul {
								li {
									div {
										input.error {
											color: red;
											&::-webkit-input-placeholder {
											  color: red;
											}
											&::-moz-placeholder {
											  color: red;
											}
											&:-ms-input-placeholder {
											  color: red;
											}
											&:-moz-placeholder {
											  color: red;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.contactfooter {
	    position: absolute;
	    width: 100%;
		height: 430px;
		box-sizing: border-box;
	    bottom: 0;
	    padding-top: 80px;
		background-color: black;
		border: none;
		@media screen and (max-width: 479px) {
		    padding-top: 55px;
		}
		.logo_container {
			.logo_footer {
				background : url("../../images/logo_footer.svg") no-repeat 0 0;				
			    width: 100px;
			    height: 100px;
			    display: block;
			    margin: 0 auto;
			}
		}
		.contacts {
		    color: white;
		    width: 100%;
		    text-align: center;
		    margin-top: 40px;
		    font-size: 15px;
		    line-height: 21px;
		    letter-spacing: .04em;
			@media screen and (max-width: 899px) {
				span:not(.dot) {
					display: block;
					margin-bottom: 10px;
				}
			}
			span {
				a {
					text-decoration: none;
					color: white;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		    .dot {
			    font-size: 12px;
		    }
		}
		.copyright {
		    color: white;
		    width: 100%;
		    text-align: center;
		    margin-top: 40px;
		    font-size: 15px;
		    letter-spacing: .04em;
		    display: inline-block;
		    margin-top: 10px;
			@media screen and (max-width: 899px) {
			    margin-top: 20px;
			}
		}
		.edit-this {
			position: absolute;
			right: 25px;
			bottom: 15px;
			margin: auto;
			a {
				color: white;
				font-size: 16px;
			}
		}
	}
}