@media screen and (min-width: 900px) {
	.primarynav {
		margin: 0 auto;
		.logo_container {
			display: inline-block;
			.logo_horizontal {
				background : url("../../images/logo_h.svg") no-repeat 0 0;
			    width: 165px;
			    height: 32px;
			    padding: 0;
			    border: 0;
			    margin-left: 20px;
			    margin-top: 20px;
			    border: 10px solid transparent;
			    &:hover {
			    }
			}
		}
		.topnav {
			display: inline-block!important;
   			padding: 30px 0 24px!important;
   			float: right;
			div {
				display: inline-block;
				position: relative;
				.menu-primary-navigation-container {
					-webkit-transition: opacity .25s ease-in-out;
					-moz-transition: opacity .25s ease-in-out;
					-o-transition: opacity .25s ease-in-out;
					transition: opacity .25s ease-in-out;
					display: inline-block;
					#menu-primary-navigation {
						display: inline-block;
						font-size: 0;
						li {
							a {
								font-size: 16px;
								letter-spacing: .04em;
								font-family: CircularBookBold;
								padding: 6px 0 4px;
								margin: 0 13px;
								border-top: none;
								border-bottom: none;
								&:hover {
									border-bottom: 4px solid black;
									border-top: none!important;
								}
								&:focus {
									outline: none!important;
								}
							}
							&:first-child {
								a {
									margin-left: 0!important;
								}
							}
						}
						.current-menu-item {
							a {
							    border-bottom: 4px solid black!important;
							    border-top: none !important;
							}
						}
						.social {
							a {
								margin-left: 4.5px;
								margin-right: 4.5px;
								cursor: pointer;
								&:hover {
									border-bottom: none;
								}
							}
						}
						.social.first {
							a {
								margin-left: 20px;
							}
						}
					}
				}
				#searchform {
					position: absolute;
					top: -10px;
					height: 41px;
					margin: 0;
					width: 100%;
					display: none;
					background-color: transparent;
					input.s {
						width: 100%;
						border: none;
						height: 40px;
						font-size: 22px;
						font-family: CircularBook;
					    padding: 5px;
					    border-bottom: 4px solid black!important;
					    background-color: transparent;
						&::-webkit-input-placeholder {
							color: black;
						}
						&::-moz-placeholder {
							color: black;
						}
						&:-ms-input-placeholder {
							color: black;
						}
						&:-moz-placeholder {
							color: black;
						}
					}
				}
			}
			.search {
				display: inline-block;
				position: relative;
				top: -4px;
				height: 34px;
				width: 34px;
			    border-radius: 50%;
			    background: black;
			    padding: 0;
			    border: 0;
			    vertical-align: top;
			    margin: 0 35px 0px 10px;
			    i {
			    	color: white;
					font-size: 17px;
					line-height: 34px;
			    }
			    .fa-times {
			    	font-size: 20px;
			    }
			}
		}
	}
}

@media screen and (max-width: 899px) {
	.layoutspacer {
		height: 54px!important;
	}
	.primarynav {
		background-color: white;
		.mobiletoggle {
			a {
				left: 0;
				background : url("../../images/logo_h.svg") no-repeat 0 0;
				height: 100%;
				width: 162px;
				box-sizing: border-box;
				border: 14px solid transparent;
				display: inline-block;
				height: 54px;
			}
			.opennav {
				float: right;
				font-size: 26px;
				padding: 14px;
				color: black;
				width: 24px;
				text-align: center;
   				&:before {
					display: none;
				}
			}
			.closenav {
				float: right;
				font-size: 26px;
				padding: 14px;
				color: black;
				width: 24px;
				text-align: center;
				&:before {
					display: none;
				}
			}
		}
		.logo_container {
			.logo_horizontal {
			    &:hover {
			    }
			}
		}
		.topnav {
			div {
				.menu-primary-navigation-container {
					padding: 50px 0 0;
					#menu-primary-navigation {
						padding: 0 0 0 15px;
						li {
							margin: 15px 0;
							font-size: 0;
							a {
								display: inline-block;
								color: black;
								font-size: 18px;
								letter-spacing: .04em;
								font-family: CircularBookBold;
								border-top: none;
								border-bottom: none;
								&::selection {
									background: white;
								}
								&::-moz-selection {
									background: white;
								}
								&:hover {
								}
								&:focus {
								}
							}
							&:first-child {
								a {
								}
							}
						}
						.current-menu-item {
							a {
							}
						}
						.social {
							display: inline-block;
							margin-right: 0;
							margin-top: 0;
							margin-bottom: 0;
							a {
								padding: 5px;
								&:hover {
								}
							}
						}
						.social.first {
   							margin-left: -5px;
   							a {
							}
						}
					}
				}
				#searchform {
					padding: 10px 15px 30px 15px;
					box-sizing: border-box;
					height: 80px!important;
					top: -10px;
					height: 41px;
					margin: 0;
					width: 100%;
					background-color: transparent;
					input.s {
						width: 100%;
						border: none;
						height: 40px;
						font-size: 22px;
						font-family: CircularBook;
					    padding: 5px;
					    border-bottom: 4px solid black!important;
					    background-color: transparent;
						&::selection {
							background: white;
						}
						&::-moz-selection {
							background: white;
						}
						&::-webkit-input-placeholder {
							color: black;
						}
						&::-moz-placeholder {
							color: black;
						}
						&:-ms-input-placeholder {
							color: black;
						}
						&:-moz-placeholder {
							color: black;
						}
					}
				}
			}
			.search {
				display: none;
			    i {
			    }
			    .fa-times {
			    }
			}
		}
	}
}