.carouselwrap {
	padding: 0!important;
	.carousel-main {
		.arrow {
			a {
				display: none;
			}
		}
		> div {
			> div {
				.carousel-cell {
					.slide {
						min-height: 500px;
						height: -moz-calc(100vh - 88px)!important;
						height: -webkit-calc(100vh - 88px)!important;
						height: -o-calc(100vh - 88px)!important;
						height: calc(100vh - 88px)!important;
						max-height: 140vw;
						position: relative;
						@media screen and (max-width: 899px) {
							height: -moz-calc(100vh - 54px)!important;
							height: -webkit-calc(100vh - 54px)!important;
							height: -o-calc(100vh - 54px)!important;
							height: calc(100vh - 54px)!important;
						}
						.content {
							height: 100%;
							> div {
								position: absolute;
								bottom: 0;
								z-index: 1;
								text-align: left;
								.arrows {
									height: 21px;
									a {
										display: block;
										cursor: pointer;
										.left-arrow {
											width: 12px;
											height: auto;
											-moz-transform: scaleX(-1);
											-o-transform: scaleX(-1);
											-webkit-transform: scaleX(-1);
											transform: scaleX(-1);
											filter: FlipH;
											-ms-filter: "FlipH";
											display: inline-block;
											position: absolute;
											left: 0;
										}
										.right-arrow {
											width: 12px;
											height: auto;
											margin-left: 20px;	
											margin-left: 25px;
											position: absolute;
											left: 0;
											padding-left: 12px;
										}
									}
								}
								.project-title {
									font-size: 32px;
									font-family: CircularBookBold;
									color: white;
									margin-top: 40px;
									display: inline-block;
									margin-right: 30px;
									margin-bottom: 20px;
								}
								.project-more {
									display: inline-block;
									font-size: 16px;
									font-family: CircularBookBold;
									color: white;
									letter-spacing: .1em;
								    border-bottom: 4px solid white;
								    padding-bottom: 3px;
								    position: relative;
								    bottom: 5px;
									display: inline-block;
									margin-bottom: 80px;
									margin-right: 20px;
								}
							}
						}
						.project-overlay {
							background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 120%);
							background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 120%);
							background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 120%);
							background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 120%);
							background: linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 120%);
							width: 100%;
						    height: 300px;
						    bottom: 0;
						    position: absolute;
						    z-index: 0;
						}
					}
				}
			}
		}
	}
}

.featured-grid {
	font-size: 0;
	margin: 0 -10px;
	> h3 {
		font-size: 18px;
		font-family: CircularBookBold;
		padding: 15px 0 30px;
		border-top: 4px solid black;
		margin: 40px 10px 0;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	.grid-3 {
		width: 33.33%;
		display: inline-block;
		padding: 0 10px;
		box-sizing: border-box;
		vertical-align: top;
		@media screen and (max-width: 767px) {
			width: 100%;
			margin-bottom: 75px;
		}
		.descriptioncell {
			h3 {
				font-family: CircularBookBold;
				font-size: 28px;
				line-height: 35px;
				margin-top: 15px;
				margin-bottom: 0;
			}
			.content-type {
				font-family: CircularBookBold;
				font-size: 18px;
				line-height: 27px;
				margin-top: 0;
				margin-bottom: 10px;
			}
			.description {
				font-family: CircularBook;
				font-size: 16px;
				line-height: 22px;
				margin-top: 0;
				margin-bottom: 0;
			}
			.calltoaction {
				font-family: CircularBookBold;
				font-size: 16px;
				line-height: 22px;
				text-transform: uppercase;
				letter-spacing: .1em;
				margin-top: 30px;
				margin-bottom: 0;
				a {
					border-bottom: 4px solid black;
					padding-bottom: 3px;
					display: inline-block;
				}
			}
		}
	}
	.grid-bottom {
	    padding-top: 80px;
	    border-bottom: 4px solid black;
	    margin: 0 10px;
		@media screen and (max-width: 767px) {
			padding-top: 0;
		}
	}
}