.projects-list {
	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
}

.projects-ongoing {
	margin-bottom: 50px;
	@media screen and (max-width: 767px) {
		margin-bottom: 25px;
	}
	> h1 {
		text-align: center;
		margin: 55px 0 35px;
	}
	.projects-side-section {
		display: table;
		margin-bottom: 25px;
		.side-section-right {
			@media screen and (max-width: 767px) {
				display: block;
			}
			img {
				display: block;
			}
		}
		.side-section-left {
			vertical-align: middle;
			padding-left: 30px;
			@media screen and (min-width: 768px) and (max-width: 999px) {
				padding-left: 20px;
			}
			@media screen and (max-width: 767px) {
				margin-top: 20px;
				margin-bottom: 40px;
				display: block;
				padding-left: 0;
			}
			h2 {
				font-size: 28px;
				line-height: 34px;
				margin: 0 0 8px;
			}
			p {
				margin-bottom: 25px;
				@media screen and (min-width: 768px) and (max-width: 999px) {
					line-height: 24px;
				}
			}
			h4 {
				display: inline-block;
				border-bottom: 4px solid black;
				padding-bottom: 6px;
				margin: 0;
			}
		}
		> div {
			display: table-cell;
			font-size: 18px;
		}
	}
}

.projects-past {
	> div {
		border-top: 4px solid black;
		h4 {
			padding: 15px 0 30px;
			margin: 0;
		}
		.grid {
			margin: 0 -10px;
			margin-bottom: 30px;
			.grid-3 {
				@media screen and (max-width: 767px) {
					margin-bottom: 0;
				}
				.descriptioncell {
					margin-top: 15px;
					margin-bottom: 45px;
					h2 {
						margin-top: 0;
					}
				}
			}
		}
	}
}

.project-single {
	.project-menu {
		background-color: black;
		color: white;
		padding-top: 60px;
		padding-bottom: 40px;
		h1 {
			color: white;
			font-size: 42px;
			line-height: 48px;
			@media screen and (max-width: 999px) {
				font-size: 36px;
				line-height: 42px;
			}
		}
		ul {
			padding-left: 0;
			list-style-type: none;
			border-bottom: 3px solid white;
			margin: 22px 0 0 0;
			font-size: 0;
			li {
				display: inline-block;
				&.active {
					background-color: white;
					a {
						color: black;
					}
				}
				a {
					padding: 10px 30px;
					color: white;
					text-decoration: none;
					font-size: 18px;
					display: block;
				}
			}
		}
	}
	main {
		padding-top: 40px;
		padding-bottom: 45px;
		.grid {
			.grid-3 {
				.imagecell {

				}
				.project-title {
					margin-top: 15px;
					margin-bottom: 5px;
					a {
						font-family: CircularBookBoldItalic;
						text-decoration: none;
					}
				}
				.project-subtitle {
					margin-top: 5px;
					margin-bottom: 45px;
					font-size: 22px;
					a {
						font-family: CircularBook;
						text-decoration: none;
					}
				}
			}
		}
		.project-next {
			display: block;
			text-align: right;
			a {
				font-weight: bold;
				font-size: 16px;
				margin-top: 50px;
				margin-bottom: 10px;
				display: inline-block;
				letter-spacing: .1em;
				text-decoration: none;
				border-bottom: 4px solid black;
				padding-bottom: 5px;
				text-transform: uppercase;
			}			
		}
		.project-slider {
			.project-slide {
				height: auto;
				font-size: 0;
				.caption {
					width: 50%;
					display: inline-block;
					vertical-align: top;
					margin-top: 20px;
					margin-bottom: 20px;
					font-family: CircularBook;
					font-size: 14px;
				}
				.caption-left {
					text-align: left;
				}
				.caption-right {
					text-align: right;
				}
			}
			.slick-arrow {
			    font-size: 0;
			    position: absolute;
			    border: none;
			    padding: 0;
			    margin: auto;
			    top: 0;
			    bottom: 0;
			    height: 40px;
			    padding: 9px;
			    &:hover {
			    	background: transparent;
			    }
			    &.slick-prev {
				    left: -60px;
				    &:before {
				    	content: '';
					    height: 22px;
					    width: 13px;
					    display: block;
					    background-size: contain;
					    background-repeat: no-repeat;
					    background-image: url('../../images/arrow-slider.png');
				    }
			    }
			    &.slick-next {
				    right: -60px;
				    &:before {
				    	content: '';
					    height: 22px;
					    width: 13px;
					    display: block;
					    background-size: contain;
					    background-repeat: no-repeat;
					    background-image: url('../../images/arrow-slider.png');
						-moz-transform: scale(-1, 1);
						-webkit-transform: scale(-1, 1);
						-o-transform: scale(-1, 1);
						-ms-transform: scale(-1, 1);
						transform: scale(-1, 1);
				    }
			    }
			}
		}
		.project-content {
			border-top: 4px solid black;			
		}
	}
}
