.projects-list {
	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
}

.projects-ongoing {
	margin-bottom: 60px;
	@media screen and (max-width: 767px) {
		margin-bottom: 25px;
	}
	> h1 {
		text-align: center;
		margin: 55px 0 35px;
	}
	.projects-side-section {
		display: table;
		margin-bottom: 25px;
		.side-section-right {
			@media screen and (max-width: 767px) {
				display: block;
			}
			img {
				display: block;
			}
		}
		.side-section-left {
			vertical-align: middle;
			padding-left: 30px;
			@media screen and (min-width: 768px) and (max-width: 999px) {
				padding-left: 20px;
			}
			@media screen and (max-width: 767px) {
				margin-top: 20px;
				margin-bottom: 40px;
				display: block;
				padding-left: 0;
			}
			h2 {
				font-size: 28px;
				line-height: 34px;
				margin: 0 0 8px;
			}
			p {
				margin-bottom: 25px;
				@media screen and (min-width: 768px) and (max-width: 999px) {
					line-height: 24px;
				}
			}
			h4 {
				display: inline-block;
				border-bottom: 4px solid black;
				padding-bottom: 4px;
				margin: 0;
			}
		}
		> div {
			display: table-cell;
			font-size: 18px;
		}
	}
}

.projects-past {
	> div {
		border-top: 4px solid black;
		h4 {
			padding: 12px 0 30px;
			margin: 0;
		}
		.grid {
			margin: 0 -10px;
			margin-bottom: 30px;
			.grid-3 {
				@media screen and (max-width: 767px) {
					margin-bottom: 0;
				}
				.descriptioncell {
					margin-top: 15px;
					margin-bottom: 45px;
					h2 {
						margin-top: 0;
					}
				}
			}
		}
	}
}

.project-single {
	.project-menu {
		background-color: black;
		color: white;
		padding-top: 60px;
		padding-bottom: 40px;
		h1 {
			color: white;
			font-size: 42px;
			line-height: 48px;
			@media screen and (max-width: 999px) {
				font-size: 36px;
				line-height: 42px;
			}
		}
		ul {
			padding-left: 0;
			list-style-type: none;
			border-bottom: 3px solid white;
			margin: 22px 0 0 0;
			font-size: 0;
			@media screen and (max-width: 999px) {
				display: none;
			}
			li {
				display: inline-block;
				&.active {
					background-color: white;
					a {
						color: black;
					}
				}
				a {
					padding: 10px 30px;
					color: white;
					text-decoration: none;
					font-size: 18px;
					display: block;
				}
			}
		}
		form {
			margin-bottom: 0;
			margin-top: 10px;
			border-bottom: 4px solid white;
			@media screen and (min-width: 1000px) {
				display: none;
			}
			select {
				padding: 10px;
				width: 100%;
				border: none;
				background: black;
				color: white;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-image: url('../images/arrow-down.png');
				background-repeat: no-repeat;
				background-size: 24px;
				background-position: right 10px center;
			}
		}
	}
	main {
		padding-top: 40px;
		padding-bottom: 60px;
		&.artist-list {
			padding-bottom: 0;
		}
		&.artist-single {
			> :first-child {
				margin-top: 0!important;
			}
			> :last-child {
				margin-bottom: 0!important;
			}
		}
		&.media {
			padding-bottom: 60px;
			> h4 {
				border-top: 4px solid black;
				padding: 12px 0 0;
				margin-bottom: 0;
				margin-top: 0;
			}
		}
		&.podcast {
			> h4 {
				border-top: 4px solid black;
				padding: 12px 0 0;
				margin-bottom: 0;
				margin-top: 0;
			}
		}
		> .project-title {
			font-size: 28px;
			font-style: italic;
			margin-bottom: 12px;
		}
		> .project-subtitle {
			font-size: 22px;
			margin-top: 12px;
		}
		.project-slider {
			border-bottom: 4px solid black;
			margin: 40px 0;
			&:first-child {
				margin-top: 0!important;
			}
			&:last-child {
				margin-bottom: 0!important;
			}
			.project-slide {
				height: auto;
				font-size: 0;
				img {
					margin-bottom: 20px!important;
				}
				.caption {
					width: 50%;
					display: inline-block;
					vertical-align: top;
					margin-top: 0;
					margin-bottom: 20px;
					font-family: CircularBook;
					font-size: 14px;
				}
				.caption-left {
					text-align: left;
				}
				.caption-right {
					text-align: right;
				}
			}
			.slick-arrow {
			    font-size: 0;
			    position: absolute;
			    border: none;
			    padding: 0;
			    margin: auto!important;
			    top: 0;
			    bottom: 0;
			    height: 40px;
				padding: 9px;
				background-color: transparent;
				@media screen and (max-width: 1099px) {
					display: none!important;
				}
			    &:hover {
			    	background: transparent;
			    }
			    &.slick-prev {
				    left: -60px;
				    &:before {
				    	content: '';
					    height: 22px;
					    width: 13px;
					    display: block;
					    background-size: contain;
					    background-repeat: no-repeat;
					    background-image: url('../images/arrow-slider.png');
				    }
			    }
			    &.slick-next {
				    right: -60px;
				    &:before {
				    	content: '';
					    height: 22px;
					    width: 13px;
					    display: block;
					    background-size: contain;
					    background-repeat: no-repeat;
					    background-image: url('../images/arrow-slider.png');
						-moz-transform: scale(-1, 1);
						-webkit-transform: scale(-1, 1);
						-o-transform: scale(-1, 1);
						-ms-transform: scale(-1, 1);
						transform: scale(-1, 1);
				    }
			    }
			}
		}
		.project-content {
			> :first-child {
				margin-top: 0!important;
			}
			> :last-child {
				margin-bottom: 0!important;
			}
			.project-title {
				margin: 30px 0 15px;
				font-size: 28px;
				font-style: italic;
			}
			.project-subtitle {
				font-size: 22px;
				margin: 15px 0 30px;
			}
		}
		.project-related-grid {
			.grid-3 {
				margin-bottom: 0;
			}
		}
		.project-programs-grid {
			.grid-3 {
				a {
					text-decoration: none;
					.project-title {
						margin-top: 15px!important;
						margin-bottom: 45px!important;
						font-family: CircularBookBoldItalic;
					}
				}
			}
		}
		.project-list-grid {
			.grid-3 {
				a {
					text-decoration: none;
					.project-title {
						margin-top: 15px!important;
						margin-bottom: 5px!important;
						font-family: CircularBookBoldItalic;
					}
				}
				.project-subtitle {
					margin-top: 5px;
					margin-bottom: 45px!important;
					font-size: 22px;
					font-family: CircularBook;
					text-decoration: none;
				}
			}
		}
		.project-events-grid {
			h4 {
				margin-top: 0;
			}
			.content-type {
				line-height: 26px!important;
			}
			.grid-bottom {
				padding-top: 60px;
			}
		}
		.collapsable-sections {
			margin-bottom: 0;
			:last-child {
				margin-bottom: 0;
			}
		}
		.media-item {
			font-size: 0;
			border-bottom: 4px solid black;
			padding-top: 30px;
			padding-bottom: 30px;
			overflow: auto;
			> div {
				display: inline-block;
				width: 50%;
				@media screen and (max-width: 767px) {
					width: 100%;
				}
			}
			.media-content {
				padding-right: 20px;
				box-sizing: border-box;
				vertical-align: top;
				h2 {
					font-size: 28px;
					line-height: 36px;
					margin-top: 0;
					margin-bottom: 4px;
					@media screen and (max-width: 999px) {
						font-size: 24px;
						line-height: 32px;
					}
				}
				p {
					font-size: 18px;
					line-height: 26px;
					margin-top: 0;
				}
			}
			.media-embed {
				float: right;
				iframe {
					width: 100%;
				}
				> div {
					background-size: 40px 40px!important;
				}
				.media-video-embed {
				    overflow:hidden;
					padding-bottom:56.25%;
					position:relative;
					height:0;	
				}
				.media-video-embed + .media-audio-embed {
					margin-top: 20px;
				}
			}
		}
		.media-pagination {
			padding-top: 70px;
			text-align: center;
			font-size: 0;
			@media screen and (max-width: 999px) {
				padding-top: 50px;
			}
			ul.page-numbers {
				padding-left: 0;
				li {
					display: inline-block;
					a, span {
						text-decoration: none;
						font-family: CircularBook;
						font-size: 19px;
						letter-spacing: .1em;
						display: inline-block;
						padding: 0 10px;
						margin: 0 3px;
						@media screen and (max-width: 767px) {
							margin: 0 1px;
							font-size: 16px;
							padding: 0 8px;
						}
						   &.current {
							background-color: black;
							color: white;
						}
					}
					.prev, .next {
						margin: 0;
					}		
				}
			}
		}
		.podcast-image {
			padding-bottom: 50px;
		}
		.podcast-text {
			padding-bottom: 50px;
			> :first-child {
				margin-top: 0!important;
			}
			> :last-child {
				margin-bottom: 0!important;
			}
		}
		.podcast-item {
			.podcast-content {
				.pod-ep {
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: .1em;
					font-family: CircularBookBold;
					margin-bottom: 0;
					line-height: 21px;
				}
				.pod-title {
					//margin-bottom: 0;
				}
				.pod-date {
					font-family: CircularBookBold;
					margin-bottom: 0;
				}
				.pod-length {
					font-size: 16px;
					margin-bottom: 12px;
				}
				.pod-description {
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 0;
					@media screen and (max-width: 767px) {
						margin-bottom: 20px;
					}
				}
			}
			.podcast-embed {

			}
		}
	}
	.project-next {
		display: block;
		text-align: right;
		margin-bottom: 40px;
		a {
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 10px;
			display: inline-block;
			letter-spacing: .1em;
			text-decoration: none;
			border-bottom: 4px solid black;
			padding-bottom: 5px;
			text-transform: uppercase;
		}
	}
}