.search-template {
	> h2 {
		font-family: CircularBook;
		font-weight: bold;
		font-size: 36px;
		display: block;
		text-align: center;
		margin: 50px 0 40px 0!important;
	}
	> h4 {
		font-family: CircularBook;
		font-weight: bold;
		font-size: 18px;
		display: block;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin-bottom: 30px;
		line-height: 24px;
	}
	.searchform {
		box-sizing: border-box;
		height: 80px!important;
		height: 41px;
		margin: 0;
		width: 100%;
		background-color: transparent;
		input.s {
			width: 100%;
			border: none;
			height: 40px;
			font-size: 22px;
			font-family: CircularBook;
		    padding: 5px 3px;
		    border-bottom: 4px solid black!important;
		    background-color: transparent;
			&::selection {
				background: white;
			}
			&::-moz-selection {
				background: white;
			}
			&::-webkit-input-placeholder {
				color: black;
			}
			&::-moz-placeholder {
				color: black;
			}
			&:-ms-input-placeholder {
				color: black;
			}
			&:-moz-placeholder {
				color: black;
			}
		}
	}
	.search-list {
		padding-bottom: 60px;
		article {
			width: 100%;
			margin: 0;
			padding: 0;
			max-width: none;
			margin-bottom: 30px;
			display: table;
			.list-image {
			    width: 22.316%;
			    max-height: 0;
			    padding-bottom: 14.315%;
			    display: inline-block;
				vertical-align: middle;
				background: #efefef;
				a {
					display: block;
					img {
						width: 100%;
						opacity: 0;
					}					
				}
			}
			.list-title {
				box-sizing: border-box;
				position: relative;
				width: 77.684%;
				display: inline-block;
				vertical-align: middle;
				font-family: CircularBook;
				font-weight: bold;
				font-size: 28px;
				padding-left: 20px;
				@media screen and (max-width: 899px) {
					font-size: 24px;
				}
				@media screen and (max-width: 767px) {
					font-size: 18px;
				}
				@media screen and (max-width: 479px) {
					font-size: 16px;
					padding-left: 15px;
				}
				a {
					text-decoration: none;
					&:hover {
						color: black;
						text-decoration: none;
						border-bottom: 3px solid black;
					}
					@media screen and (max-width: 767px) {
						&:hover {
							color: black;
							text-decoration: none;
							border-bottom: 2px solid black;
						}
					}
				}
			}
		}
		.search-pag {
			padding-top: 40px;
			padding-bottom: 20px;
			text-align: center;
			font-size: 0;
			a, span {
				text-decoration: none;
				font-family: CircularBook;
				font-size: 19px;
				letter-spacing: .1em;
				display: inline-block;
				padding: 0 10px;
				margin: 0 3px;
				@media screen and (max-width: 767px) {
					margin: 0 1px;
					font-size: 16px;
					padding: 0 8px;
				}
   				&.current {
					background-color: black;
					color: white;
				}
			}
			.dots {
				padding: 0;
				margin: 0;
			}
			.prev, .next {
				margin: 0;
			}
		}
	}
}