.donate {
	margin: 40px auto 60px;
	.donate-title {
		text-align: center;
		margin-bottom: 30px;
	}
	.donate-content {
		margin: 40px 0;
		> :first-child {
			margin-top: 0;
		}
		> :last-child {
			margin-bottom: 0;
		}
	}
	section {
		> h4 {
			padding: 12px 0 30px;
			margin: 0;
			text-align: left;
			border-top: 4px solid $black;
		}
		.section-content {
		margin: 0 0 40px;
			> :first-child {
				margin-top: 0;
			}
			> :last-child {
				margin-bottom: 0;
			}
		}
		&:last-child {
			.section-content {
				margin-bottom: 0;
			}
		}
	}
	iframe {
		width: 100%!important;
		height: 1150px!important;
		@media screen and (max-width: 786px) {
			height: 1150px!important;
		}
	}
}